* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
   width: 100%;
   height: 100%;
   font-family: 'Playfair Display', serif;
   color: rgb(255, 255, 255);
   display: flex;
   flex-direction: column;
}

/* Hero Section */
.hero {
   background-image: url('https://i.postimg.cc/mkTTwqp7/Imagem-de-grupo.jpg');
   background-size: cover;
   height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   position: relative;
   background-position: center bottom;
   animation: slideUpBackground 7s ease-out forwards;
   flex: 1;
}

@keyframes slideUpBackground {
   from { background-position: center bottom; }
   to { background-position: center center; }
}

.hero::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background: rgba(0, 0, 0, 0.8);
   animation: revealImage 8s ease-in-out forwards;
   z-index: 2;
}

@keyframes revealImage {
   from { opacity: 1; }
   to { opacity: 0.8; }
}

.overlay {
   position: relative;
   z-index: 3;
   animation: fadeIn 8s ease-in-out;
}

@keyframes fadeIn {
   from { opacity: 0; transform: translateY(20px); }
   to { opacity: 1; transform: translateY(0); }
}

/* Typography */
h1 {
   font-size: 4rem;
   letter-spacing: 3px;
   margin-bottom: 1rem;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
   font-size: 1.2rem;
   letter-spacing: 2px;
   margin-top: 0.5rem;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Footer */
footer {
   background-color: rgba(0, 0, 0, 0.7);
   text-align: center;
   padding: 1rem;
   width: 100%;
}

/* Image Link */
.image-link {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: block;
   text-indent: -9999px;
   overflow: hidden;
   pointer-events: auto;
   z-index: 1;
}

.image-link:hover {
   cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
   h1 {
       font-size: 2.5rem;
   }

   p {
       font-size: 1rem;
       padding: 0 20px;
   }
}